<div class="footer">
  <section class="container-fluid">
    <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-2">
        <!-- Se ha puesto el atributo title, si se pone el ratón encima del texto "Contactar con la organización" saldrá lo especificado en title -->
        <!-- La etiqueba <br> es salto de línea -->
        <a title="ACING" target="_blank" class="enlacesFooter" href="https://ejercito.defensa.gob.es/unidades/Madrid/acing/Localizacion/index.html">Contactar con la organizacion</a> <br> <br>
        <a href="mailto:alex.galez2218@gmail.com" class="enlacesFooter">Contactar con creador</a> <br> <br>
        <!-- Define la información de contacto del autor del documento -->
        <address>
            Alejandro González Escobar
            <br><br>
        </address>
        </div>
        <div class="col-sm-5"></div>
    </div>
  </section>
</div>
