:root {
  --verdePrincipal: #062C30;
  --verdeClaro:#05595B;
  --amarillo: #E2D784;
  --blanco: #F5F5F5;
}

.footer {
  padding: 50px;
  margin-bottom: 10px;
  height: 150px;
  margin-top: 0em;
  border-top: 10em;
  padding-top: 7.5em;
  border-top: 0em;
  border-top-color: var(--verdePrincipal);
  text-align:center;
  border-color: var(--verdePrincipal);
  background-color: var(--verdePrincipal);
  color: var(--amarillo);
}

.enlacesFooter {
  color: var(--amarillo);
}

.enlacesFooter:hover {
  color: var(--blanco);
}

address {
  margin-top: 10px;
  margin-bottom: 10px;
}
