<main>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <h1>Listado de negocios</h1>
      <div class="d-grid gap-2" id="sumarNegocio">
        <button class="creacion btn btn-primary" type="button" routerLink="/negocios-asociados/formulario-negocios">
          <fa-icon [icon]="plus"></fa-icon> Crear nuevo negocio
        </button>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-4">NOMBRE</div>
    <div class="col-sm-4">NIF</div>
    <div class="col-sm-4">OPERACIONES</div>
  </div>
  <div *ngIf="negocios.length > 0; else noNegocios">
    <div *ngFor="let negocio of negocios">
      <!-- <div>
        {{ negocio.nombreNegocio }}
      </div> -->
      <app-negocios-item [negocio]="negocio"></app-negocios-item>
    </div>
  </div>
  <ng-template #noNegocios>
    <div class="row">
      NO EXISTEN NEGOCIOS
    </div>
  </ng-template>



<!-- Modal -->
<div class="modal fade" id="modalNegocio" tabindex="-1" role="dialog" aria-labelledby="datosNegocio" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="datosNegocio">Datos Completos Negocio</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-negocio [negocio]='negocioVerDatos' (negocioEliminar)='onNegocioEliminar($event)'></app-negocio>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
</main>
