<main>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <h1>Listado de negocios</h1>
      <div class="d-grid gap-2" id="sumarNegocio">
        <button class="creacion btn btn-primary" type="button" routerLink="/negocios-asociados/formulario-negocios">
          <fa-icon [icon]="plus"></fa-icon> Crear nuevo negocio
        </button>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">NOMBRE Y NIF</div>
    <div class="col-sm-4">OPERACIONES</div>
    <div class="col-sm-2"></div>
  </div>
  <div *ngIf="negocios.length > 0; else noNegocios">
    <div *ngFor="let negocio of negocios">
      <!-- <div *ngIf="negocio.numeroPuntosSigre>0"> -->
      <!-- <div *ngIf="negocio.asociacion=='https://animus-lucrandi.herokuapp.com/api/negocios/62/asociacion'"> -->
        <app-negocios-item [negocio]="negocio" (negocioSeleccionado)="verDatos($event)"></app-negocios-item>
      <!-- </div> -->
    </div>
  </div>
  <!-- <div *ngIf="farmacias.length > 0; else noFarmacias">
    <div *ngFor="let farmacia of farmacias">
      <app-farmacias-item [farmacia]="farmacia" (farmaciaSeleccionada)="this.verDatosFarmacia($event)"></app-farmacias-item>
    </div>
  </div> -->
  <ng-template #noNegocios>
    <div class="row">
      NO EXISTEN NEGOCIOS
    </div>
  </ng-template>

  <!-- Modal NEGOCIOS -->
  <div class="modal fade" id="modalNegocio" tabindex="-1" role="dialog" aria-labelledby="datosNegocio" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="datosNegocio">Datos Completos Negocio</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-negocio [negocio]="negocioVerDatos"></app-negocio>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL PATCH -->
  <div class="modal fade" id="modalPatchNegocios" tabindex="-1" role="dialog" aria-labelledby="formularioNegocio" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel2">Modificar negocio</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- {{negocioVerDatos.nif}} -->
          <!-- <app-negocio-modificar [negocio]="verDatos"></app-negocio-modificar> -->
        </div>
      </div>
    </div>
  </div>


</main>
