<form #negocioForm="ngForm">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="form-row py-2">
        <label for="tipo">Seleccione el tipo de negocio<sup class="text-danger">*</sup></label><br>
        <select name="selectorFormulario" id="selector" class="form-select" aria-label="Default select example" [(ngModel)]="negocio.tipoNegocio">
          <option value="0">Sin tipo</option>
          <option value="farmacia" name="farmacia" ngDefaultControl>Farmacia</option>
          <option name="optica" value="optica" ngDefaultControl>Optica</option>
        </select>
      </div>
      <div class="form-row py-2">
          <label>Nombre del negocio<sup class="text-danger">*</sup></label>
          <input type="text" class="form-control" [(ngModel)]="negocio.nombre" placeholder="Nombre negocio" name="neg"
            required minlength="3" maxlength="25"/>
          <div class="invalid-feedback">Por favor, rellene este campo.</div>
          <div class="valid-feedback">¡Perfecto! ¡Ese es un nombre válido!</div>
        </div>
    <div class="form-row py-2">
        <label>NIF del negocio<sup class="text-danger">*</sup></label>
        <input type="text" class="form-control" [(ngModel)]="negocio.nif" placeholder="NIF del negocio" name="neg2"
          required minlength="9" maxlength="9" #neg2="ngModel" [ngClass]="{
            'is-invalid': neg2.invalid && (neg2.dirty || neg2.touched),
            'is-valid': !neg2.invalid
          }" />
          <div class="invalid-feedback">Por favor, rellene este campo.</div>
          <div class="valid-feedback">¡Perfecto! ¡Ese es un NIF válido!</div>
    </div>
    <div class="form-row py-2">
      <label>Asociación a la que pertenece el negocio<sup class="text-danger">*</sup></label>
      <input type="text" class="form-control" [(ngModel)]="negocio.asociacion" placeholder="Nombre de la asociación" name="aso"
        required minlength="10" maxlength="60" #aso="ngModel" [ngClass]="{
          'is-invalid': aso.invalid && (aso.dirty || aso.touched),
          'is-valid': !aso.invalid
        }" />
      <div class="invalid-feedback">Por favor, rellene este campo.</div>
      <div class="valid-feedback">¡Perfecto! ¡Ese es un nombre válido!</div>
    </div>
    <section *ngIf="negocio.tipoNegocio == 'farmacia'">
      <div class="form-row py-2">
        <label>Introduzca el número de puntos SIGRE de la farmacia:<sup class="text-danger">*</sup></label>
        <input type="number" class="form-control" [(ngModel)]="negocio.numeroPuntosSigre" placeholder="Por ejemplo 3" name="neg2"
          required min="0" max="5" #neg2="ngModel" [ngClass]="{
            'is-invalid': neg2.invalid && (neg2.dirty || neg2.touched),
            'is-valid': !neg2.invalid
          }" />
          <div class="invalid-feedback">Por favor, rellene este campo.</div>
          <div class="valid-feedback">¡Perfecto! ¡Ese es un número válido!</div>
    </div>
    </section>
    <section *ngIf="negocio.tipoNegocio == 'optica'">
        <div class="form-row py-2">
          <label>Introduzca el número de autorefractometros de la óptica:<sup class="text-danger">*</sup></label>
          <input type="number" class="form-control" [(ngModel)]="negocio.numeroAutorefractometros" placeholder="Por ejemplo 3" name="neg2"
            required min="0" max="5" #neg2="ngModel" [ngClass]="{
              'is-invalid': neg2.invalid && (neg2.dirty || neg2.touched),
              'is-valid': !neg2.invalid
            }" />
            <div class="invalid-feedback">Por favor, rellene este campo.</div>
            <div class="valid-feedback">¡Perfecto! ¡Ese es un número válido!</div>
      </div>
    </section>
    </div></div>
    <section *ngIf="negocio.tipoNegocio == '0'">
      <div class="form-row justify-content-between pt-5">
        <button class="btn btn-primary" role="button" (click)="create()" routerLink='/negocios-asociados/negocios'
          >
          <!-- [disabled]="!negocioForm.form.valid" -->
          Crear Negocio
        </button>
      </div>
    </section>
    <section *ngIf="negocio.tipoNegocio == 'farmacia'">
      <div class="form-row justify-content-between pt-5">
        <button class="btn btn-primary" role="button" (click)="crearFarmacia()" routerLink='/negocios-asociados/negocios'
          >
          <!-- [disabled]="!negocioForm.form.valid" -->
          Crear Farmacia
        </button>
      </div>
    </section>
    <section *ngIf="negocio.tipoNegocio == 'optica'">
      <div class="form-row justify-content-between pt-5">
        <button class="btn btn-primary" role="button" (click)="create()" routerLink='/negocios-asociados/negocios'
          >
          <!-- [disabled]="!negocioForm.form.valid" -->
          Crear Optica
        </button>
      </div>
    </section>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <pre>{{ negocio | json }}</pre>
    </div>
    <div class="col-sm-3"></div>
  </div>
</form>
