<form #negocioForm="ngForm">
  <div class="form-row py-2">
    <div class="col-lg-4 col-md-12">
      <label>Nombre <sup class="text-danger">*</sup></label>
      <input type="text" class="form-control" [(ngModel)]="negocio.nombreNegocio" placeholder="Nombre Negocio" name="pers"
        required minlength="3" #pers="ngModel" [ngClass]="{
          'is-invalid': pers.invalid && (pers.dirty || pers.touched),
          'is-valid': !pers.invalid
        }" />
      <div class="text-danger" *ngIf="pers.invalid && (pers.dirty || pers.touched)">

      </div>
    </div>
  </div>
  <div class="form-row py-2">
    <div class="col-lg-4 col-md-12">
      <label for="validationServer02">Tipo negocio<sup class="text-danger"></sup></label>
      <!-- <input type="text" class="form-control" [(ngModel)]="negocio.tipoNegocio" placeholder="tipo de negocio"
        minlength="5" maxlength="5" required name="fechNac" #fechNac="ngModel" [ngClass]="{
          'is-invalid': fechNac.invalid && (fechNac.dirty || fechNac.touched),
          'is-valid': !fechNac.invalid
        }" /> -->
    </div>
  </div>
  <div class="form-row justify-content-between pt-5">
    <div class="col-lg-5 col-md-12">
      <button class="btn btn-primary" role="button" (click)="create()" routerLink='/personajes'
        [disabled]="!negocioForm.form.valid">
        Crear Negocio
      </button>
    </div>
  </div>
</form>
