<div id="contenedorFila">
  <div class="container-fluid" id="contenedorFormulario">
    <div class="row">
      <div class="col-sm-1"></div>
        <div class="col-sm-1">
          <div class="ocultar-div2">
            <!-- Esta clase carga la pastilla que da vueltas y tiene un mensaje, se ha recuperado de la web https://codepen.io -->
            <div class="absCenter" id="pastillita">
              <div class="loaderPill">
                <div class="loaderPill-anim">
                  <div class="loaderPill-anim-bounce">
                    <div class="loaderPill-anim-flop">
                      <div class="loaderPill-pill"></div>
                    </div>
                  </div>
                </div>
                <div class="loaderPill-floor">
                <div class="loaderPill-floor-shadow"></div>
            </div>
            <div class="loaderPill-text">Cree su <br> nuevo negocio</div>
          </div>
        </div>
      </div>
  </div>
</div>
