<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-6" id="columnaCentral">
        <div class="list-group" id="listadoPrincipal">
          <!-- Clase introducida con Bootstrap -->
          <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
          <!-- Clase introducida con Bootstrap -->
          <div class="d-flex w-100 justify-content-between">
          <!-- Clase introducida con Bootstrap -->
          <h5 class="mb-1">Asociación Félix González García</h5>
            <!-- Con esta etiqueta se baja el valor de la fuente del texto -->
          </div>
          <small>Tiene un total de X negocios.</small>
          </a>
          <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between" >
              <h5 class="mb-1">Asociación Alberto Núñez Morcillo</h5>
            </div>
            <small>Tiene un total de X negocios.</small>
            </a>
          <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Asociación Antonio Pisón Saravia</h5>
            </div>
            <small>Tiene un total de X negocios.</small>
            </a>
          <div href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Asociación Eduardo Ríos Sasiaín</h5>
              <small>AQUÍ METER LOS ICONITOS DE FONT-AWESOME CON ETIQUETAS ANCLAS!!</small>
            </div>
            <small>Tiene un total de X negocios.</small>
          </div>

        </div>
        <div class="d-grid gap-2">
          <button class="creacion btn btn-primary" type="button" routerLink="negocios">Crear nuevo negocio</button>
        </div>
      </div>
      <div class="col-sm-3">

      </div>
    </div>
  </div>
</main>
