<main>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <h1>Listado de asociaciones</h1>
      <div class="d-grid gap-2" id="sumarNegocio">
        <button class="creacion btn btn-primary" type="button" routerLink="/asociaciones/formulario">
          <fa-icon [icon]="plus"></fa-icon> Crear nueva asociación
        </button>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">NOMBRE</div>
    <div class="col-sm-3">LONGITUD</div>
    <div class="col-sm-3"></div>
  </div>
  <div *ngIf="asociaciones.length > 0; else noAsociaciones">
    <div *ngFor="let asociacion of asociaciones">
      <!-- <div>
        {{ negocio.nombreNegocio }}
      </div> -->
      <app-asociacion-item [asociacion]="asociacion"></app-asociacion-item>
    </div>
  </div>
  <ng-template #noAsociaciones>
    <div class="row">
      NO EXISTEN ASOCIACIONES
    </div>
  </ng-template>
  <!-- MODAL PUT -->
  <div class="modal fade" id="modalListado" tabindex="-1" role="dialog" aria-labelledby="formularioOptica" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel2">Listado de negocios</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div *ngFor="let negocio of negocios">
            <!-- <app-asociacion-modal [negocio]="negocio" (negocioSeleccionado)="this.verDatosNegocio($event)"></app-asociacion-modal> -->
            <!-- <app-asociacion-item [asociacion]="asociacion" (asociacionSeleccionada)="this.verDatos($event)"></app-asociacion-item> -->
          </div>
          <!-- <app-asociacion-item [asociacion]="asociacion" (asociacionSeleccionada)="this.verDatos($event)"></app-asociacion-item> -->
          <!-- AQUÍ METER EL NUEVO COMPONENTE!!! -->
        </div>
      </div>
    </div>
  </div>
</main>
