<main>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <h1>Listado de asociaciones</h1>
      <!-- <div class="d-grid gap-2" id="sumarNegocio">
        <button class="creacion btn btn-primary" type="button" routerLink="/negocios-asociados/formulario-negocios">
          <fa-icon [icon]="plus"></fa-icon> Crear nuevo negocio
        </button>
      </div> -->
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">NOMBRE</div>
    <div class="col-sm-3">LONGITUD</div>
    <div class="col-sm-3"></div>
  </div>
  <div *ngIf="asociaciones.length > 0; else noAsociaciones">
    <div *ngFor="let asociacion of asociaciones">
      <!-- <div>
        {{ negocio.nombreNegocio }}
      </div> -->
      <app-asociacion-item [asociacion]="asociacion"></app-asociacion-item>
    </div>
  </div>
  <ng-template #noAsociaciones>
    <div class="row">
      NO EXISTEN ASOCIACIONES
    </div>
  </ng-template>
</main>
