<main>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <h1>Listado de asociaciones</h1>
      <div class="d-grid gap-2" id="sumarNegocio">
        <button class="creacion btn btn-primary" type="button" routerLink="/asociaciones/formulario">
          <fa-icon [icon]="plus"></fa-icon> Crear nueva asociación
        </button>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">NOMBRE</div>
    <div class="col-sm-3">OPERACIONES</div>
    <div class="col-sm-3"></div>
  </div>
  <div *ngIf="asociaciones.length > 0; else noAsociaciones">
    <div *ngFor="let asociacion of asociaciones">
      <app-asociacion-item [asociacion]="asociacion" (asociacionSeleccionada)="this.verDatos($event)"></app-asociacion-item>
    </div>
  </div>
  <ng-template #noAsociaciones>
    <div class="row">
      NO EXISTEN ASOCIACIONES
    </div>
  </ng-template>
  <!-- MODAL LISTADO -->
  <div class="modal fade" id="modalListado" tabindex="-1" role="dialog" aria-labelledby="negociosLista" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel2">Listado de negocios</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- <div *ngFor="let asociacion of asociaciones"> -->
            <app-negocios-listados [asociacion]="asociacionVerDatos"></app-negocios-listados>
          <!-- </div> -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
