:root {
  --verdePrincipal: #062C30;
  --verdeClaro:#05595B;
  --amarillo: #E2D784;
  --blanco: #F5F5F5;
}

.container-fluid {
  background-color: var(--verdePrincipal);
  color: var(--amarillo);
  text-align: center;
  margin-top: 150px;
}

.farmacia2 {
  width: 600px;
  height: 300px;
  text-align: center;
  align-content: center;
  background-image: url("/src/assets/farmacia2.jpg");
  background-size: cover;
}

a {
  font-size: 2em;
  color: var(--amarillo);
}

.nav-link:hover{
  color: var(--blanco);
}
