<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6" id="columnaCentral">
        <h1>Listado de negocios</h1>
        <div class="list-group" id="listadoPrincipal">
          <!-- Clase introducida con Bootstrap -->
          <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
          <!-- Clase introducida con Bootstrap -->
          <div class="d-flex w-100 justify-content-between">
            <!-- Clase introducida con Bootstrap -->
            <h5 class="mb-1">Negocio Félix González García</h5>
            <a routerLink="/negocios-asociados/creacion-negocio">
              <fa-icon [icon]="eye"></fa-icon>
            </a>
            <a routerLink="/negocios-asociados/creacion-negocio">
              <fa-icon [icon]="pencil"></fa-icon>
            </a>
            <a routerLink="/negocios-asociados/creacion-negocio">
              <fa-icon [icon]="trash"></fa-icon>
            </a>
          </div>
          <!-- Con esta etiqueta se baja el valor de la fuente del texto -->
          <small>Tiene un total de X negocios.</small>
          </a>
          <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between" >
              <h5 class="mb-1">Negocio Alberto Núñez Morcillo</h5>
              <a routerLink="/negocios-asociados/creacion-negocio">
                <fa-icon [icon]="eye"></fa-icon>
              </a>
              <a routerLink="/negocios-asociados/creacion-negocio">
                <fa-icon [icon]="pencil"></fa-icon>
              </a>
              <a routerLink="/negocios-asociados/creacion-negocio">
                <fa-icon [icon]="trash"></fa-icon>
              </a>
            </div>
            <small>Tiene un total de X negocios.</small>
            </a>
          <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Negocio Antonio Pisón Saravia</h5>
              <a routerLink="/negocios-asociados/creacion-negocio">
                <fa-icon [icon]="eye"></fa-icon>
              </a>
              <a routerLink="/negocios-asociados/creacion-negocio">
                <fa-icon [icon]="pencil"></fa-icon>
              </a>
              <a routerLink="/negocios-asociados/creacion-negocio">
                <fa-icon [icon]="trash"></fa-icon>
              </a>
            </div>
            <small>Tiene un total de X negocios.</small>
            </a>
          <div href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Negocio Eduardo Ríos Sasiaín</h5>
                <a routerLink="/negocios-asociados/creacion-negocio">
                  <fa-icon [icon]="eye"></fa-icon>
                </a>
                <a routerLink="/negocios-asociados/creacion-negocio">
                  <fa-icon [icon]="pencil"></fa-icon>
                </a>
                <a routerLink="/negocios-asociados/creacion-negocio">
                  <fa-icon [icon]="trash"></fa-icon>
                </a>
            </div>
            <small>Tiene un total de X negocios.</small>
          </div>
        </div>
        <div class="d-grid gap-2" id="sumarAsociacion">
          <button class="creacion btn btn-primary" type="button" routerLink="/negocios-asociados/creacion-negocio"><fa-icon [icon]="plus"></fa-icon> Crear nuevo negocio</button>
        </div>
      </div>
      <div class="col-sm-3">

      </div>
    </div>
    <!--
    <div *ngFor="let nuevo-negocio of listado-negocios">
      <app-listado-item [nuevo-negocio]="nuevo-negocio"></app-listado-item>
    </div> -->
    </div>
</main>
