<!-- <pre>{{ negocio | json }}</pre> -->
<section id="datosNegocio">
  - Nombre del negocio: {{negocio.nombre}} <br>
  - NIF del negocio: {{negocio.nif}} <br>
  - Asociación del negocio: {{negocio.asociacion}} <br>
  <!-- ID del negocio: {{negocio.getIdNegocio(this.negocio.urlNegocio)}} -->
  - URL del negocio: {{negocio.urlNegocio}} <br>
</section>

<!-- <section id="datosFarmacia2">
  pepeDos
  Nombre de la farmacia: {{farmacia.nombre}} <br>
  NIF de la farmacia: {{farmacia.nif}} <br>
  Asociación de la farmacia: {{farmacia.asociacion}} <br>
  ID de la farmacia: {{farmacia.idNegocio}} <br>
  Número de puntos SIGRE: {{farmacia.numeroPuntosSigre}}
</section> -->
<!-- <button type="button" class="btn btn-outline-danger" (click)="eliminar()">Eliminar</button> -->
