:root {
  --verdePrincipal: #062C30;
  --verdeClaro:#05595B;
  --amarillo: #E2D784;
  --blanco: #F5F5F5;
}

button{
  /* position:relative;
  right: -20%; */
}

section {
  color: var(--verdePrincipal);
}

main{
  margin-top: 0em;
}

.col-sm-2{
  text-align: center;
}

p {
  color: brown;
}
