<!-- <section *ngIf="negocio.nombre != null; else noExiste"> -->
  <div class="row mb-2">
    <hr class='w-100'>
    <div class="col-sm-4">
      {{optica.nombre}}
    </div>
    <div class="col-sm-4">{{optica.nif}}</div>
    <div class="col-sm-4">
      <a class="" data-bs-toggle="modal" data-bs-target="#modalOptica" (click)="opticaSeleccionada.emit(optica)">
        &nbsp;<fa-icon [icon]="eye"></fa-icon>&nbsp;
      </a>
      <a role="button" (click)="borrarOptica(this.optica.urlNegocio)" routerLink="/negocios-asociados/opticas">
        &nbsp;&nbsp;
        <fa-icon [icon]="trash"></fa-icon>
        &nbsp;
      </a>

      <!-- <a class="" data-bs-toggle="modal" data-bs-target="#modalBorrar" role="button" (click)="this.opticaSeleccionada.emit(optica)" routerLink="/negocios-asociados/negocios">
        &nbsp;<fa-icon [icon]="trash"></fa-icon>&nbsp;
      </a>
      <div class="modal fade" id="modalBorrar" tabindex="-1" aria-labelledby="modalParaBorrar" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalParaBorrar" >Borrar óptica</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ¿Seguro que lo quiere borrar?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCELAR</button>
              <button role="button" type="button" class="btn btn-primary" (click)="borrarOptica(this.optica.urlNegocio)">ELIMINAR</button>
            </div>
          </div>
        </div>
      </div> -->

      <!-- <a data-bs-toggle="collapse" href="#modificarOptica" role="button" aria-expanded="false" aria-controls="modificarOptica">
        &nbsp;&nbsp;<fa-icon [icon]="pencil"></fa-icon>&nbsp;
      </a>
    <div class="collapse" id="modificarOptica">
        <div class="form-row py-2">
          <label>Nombre de la optica<sup class="text-danger">*</sup></label>
          <input type="text" class="form-control" [(ngModel)]="optica.nombre" placeholder="Por ejemplo Optica Moncloa" name="neg"
          required minlength="3" maxlength="25"/>
          <div class="invalid-feedback">Por favor, rellene este campo.</div>
          <div class="valid-feedback">¡Perfecto! ¡Ese es un nombre válido!</div>
        </div>
      <div class="form-row py-2">
        <label>NIF de la optica<sup class="text-danger">*</sup></label>
        <input type="text" class="form-control" [(ngModel)]="optica.nif" placeholder="Por ejemplo 58798754K" name="neg2"
          required minlength="9" maxlength="9" #neg2="ngModel" [ngClass]="{
            'is-invalid': neg2.invalid && (neg2.dirty || neg2.touched),
            'is-valid': !neg2.invalid
          }" />
        <div class="invalid-feedback">Por favor, rellene este campo.</div>
        <div class="valid-feedback">¡Perfecto! ¡Ese es un NIF válido!</div>
      </div>
      <div class="form-row py-2">
        <label for="tipo">Seleccione la asociación<sup class="text-danger">*</sup></label><br>
        <select name="selectorFormulario" id="selectorAsociacion3" class="form-select" aria-label="Default select example" [(ngModel)]="optica.asociacion" placeholder="Seleccione asociación">
          <option *ngFor="let asociacion of asociaciones" value={{asociacion.urlAsociacion}}>{{asociacion.nombre}}</option>
        </select>
      </div>
      <div class="form-row py-2">
        <label>Introduzca el número de autorefractometros de la óptica:<sup class="text-danger">*</sup></label>
        <input type="number" class="form-control" [(ngModel)]="optica.numeroAutorefractometros" placeholder="Por ejemplo 3" name="neg20"
          required min="0" max="5" #neg20="ngModel" [ngClass]="{
            'is-invalid': neg20.invalid && (neg20.dirty || neg20.touched),
            'is-valid': !neg20.invalid
          }" />
        <div class="invalid-feedback">Por favor, rellene este campo.</div>
        <div class="valid-feedback">¡Perfecto! ¡Ese es un número válido!</div>
      </div> -->

      <!-- <a role="button" (click)="modificarOptica(this.optica)" routerLink="/negocios-asociados/negocios">
          <button>MODIFICAR NEGOCIO</button>
      </a>
    </div>
    <a data-bs-toggle="collapse" href="#cambiarOptica" role="button" aria-expanded="false" aria-controls="cambiarOptica">
      &nbsp;&nbsp;<fa-icon [icon]="pen"></fa-icon>&nbsp;
    </a>
    <div class="collapse" id="cambiarOptica">
        <div class="form-row py-2">
          <label>Nombre de la óptica<sup class="text-danger">*</sup></label>
          <input type="text" class="form-control" [(ngModel)]="optica.nombre" placeholder="Por ejemplo Optica Moncloa" name="neg"
          required minlength="3" maxlength="25"/>
          <div class="invalid-feedback">Por favor, rellene este campo.</div>
          <div class="valid-feedback">¡Perfecto! ¡Ese es un nombre válido!</div>
        </div>
      <div class="form-row py-2">
        <label>NIF de la optica<sup class="text-danger">*</sup></label>
        <input type="text" class="form-control" [(ngModel)]="optica.nif" placeholder="Por ejemplo 58798754K" name="neg2"
          required minlength="9" maxlength="9" #neg2="ngModel" [ngClass]="{
            'is-invalid': neg2.invalid && (neg2.dirty || neg2.touched),
            'is-valid': !neg2.invalid
          }" />
      </div>
      <div class="form-row py-2">
        <label for="tipo">Seleccione la asociación<sup class="text-danger">*</sup></label><br>
        <select name="selectorFormulario" id="selectorAsociacion4" class="form-select" aria-label="Default select example" [(ngModel)]="optica.asociacion" placeholder="Seleccione asociación">
          <option *ngFor="let asociacion of asociaciones" value={{asociacion.urlAsociacion}}>{{asociacion.nombre}}</option>
        </select>
      </div>
      <div class="form-row py-2">
        <label>Introduzca el número de autorefractometros de la óptica:<sup class="text-danger">*</sup></label>
        <input type="number" class="form-control" [(ngModel)]="optica.numeroAutorefractometros" placeholder="Por ejemplo 3" name="neg20"
          required min="0" max="5" #neg20="ngModel" [ngClass]="{
            'is-invalid': neg20.invalid && (neg20.dirty || neg20.touched),
            'is-valid': !neg20.invalid
          }" />
      </div>
      <a role="button" (click)="cambiarOptica(this.optica)" routerLink="/negocios-asociados/negocios">
          <button>CAMBIAR ÓPTICA</button>
      </a>
    </div> -->

    <a class="" data-bs-toggle="modal" data-bs-target="#modalPut" (click)="opticaSeleccionada.emit(optica)">
      &nbsp;&nbsp;<fa-icon [icon]="cambio"></fa-icon>&nbsp;
    </a>
  </div>
<!-- </section>
-- ESTO ES NUEVO y el *ngIf
<ng-template #noExiste>
  <div>
    NO EXISTEN NEGOCIOS
  </div>
</ng-template> -->


