<!-- <section *ngIf="negocio.nombre != null; else noExiste"> -->
  <div class="row mb-2">
    <hr class='w-100'>
    <!-- <div class="col-sm-4">
    </div> -->
    <div class="col-sm-2"></div>
    <div class="col-sm-4">{{optica.nombre}}, {{optica.nif}}</div>
    <div class="col-sm-4">
      <a class="" data-bs-toggle="modal" data-bs-target="#modalOptica" (click)="opticaSeleccionada.emit(optica)">
        &nbsp;<fa-icon [icon]="eye"></fa-icon>&nbsp;
      </a>
      <a class="" data-bs-toggle="modal" data-bs-target="#modalPut" (click)="opticaSeleccionada.emit(optica)">
        &nbsp;&nbsp;<fa-icon [icon]="cambio"></fa-icon>&nbsp;
      </a>
      <a role="button" (click)="borrarOptica(this.optica.urlNegocio)" routerLink="/negocios-asociados/opticas">
        &nbsp;&nbsp;
        <fa-icon [icon]="trash"></fa-icon>
        &nbsp;
      </a>
    </div>
    <div class="col-sm-2"></div>
  </div>
<!-- </section>
-- ESTO ES NUEVO y el *ngIf
<ng-template #noExiste>
  <div>
    NO EXISTEN NEGOCIOS
  </div>
</ng-template> -->


