<form #negocioForm="ngForm">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="form-row py-2">
        <label for="tipo">Seleccione el tipo de negocio<sup class="text-danger">*</sup></label><br>
        <select name="selectorFormulario" id="selector" class="form-select" aria-label="Default select example" [(ngModel)]="negocio.tipoNegocio">
          <option value="0">Sin tipo</option>
          <option value="farmacia" name="farmacia" ngDefaultControl>Farmacia</option>
          <option name="optica" value="optica" ngDefaultControl>Optica</option>
        </select>
      </div>

      <section *ngIf="negocio.tipoNegocio == '0'">
        <div class="form-row py-2">
          <label>Nombre del negocio<sup class="text-danger">*</sup></label>
          <input type="text" class="form-control" [(ngModel)]="negocio.nombre" placeholder="Por ejemplo GAFAS, S.A." name="neg"
            required minlength="3" maxlength="25"/>
          <div class="invalid-feedback">Por favor, rellene este campo.</div>
          <div class="valid-feedback">¡Perfecto! ¡Ese es un nombre válido!</div>
        </div>
      </section>

      <section *ngIf="negocio.tipoNegocio == 'farmacia'">
        <div class="form-row py-2">
          <label>Nombre de la farmacia<sup class="text-danger">*</sup></label>
          <input type="text" class="form-control" [(ngModel)]="farmacia.nombre" placeholder="Por ejemplo Farmacia Moncloa" name="neg"
          required minlength="3" maxlength="25"/>
          <div class="invalid-feedback">Por favor, rellene este campo.</div>
          <div class="valid-feedback">¡Perfecto! ¡Ese es un nombre válido!</div>
        </div>
      </section>

      <section *ngIf="negocio.tipoNegocio == 'optica'">
        <div class="form-row py-2">
          <label>Nombre de la optica<sup class="text-danger">*</sup></label>
          <input type="text" class="form-control" [(ngModel)]="optica.nombre" placeholder="Por ejemplo Optica Moncloa" name="neg"
          required minlength="3" maxlength="25"/>
          <div class="invalid-feedback">Por favor, rellene este campo.</div>
          <div class="valid-feedback">¡Perfecto! ¡Ese es un nombre válido!</div>
        </div>
      </section>

      <section *ngIf="negocio.tipoNegocio == '0'">
        <div class="form-row py-2">
          <label>NIF del negocio<sup class="text-danger">*</sup></label>
          <input type="text" class="form-control" [(ngModel)]="negocio.nif" placeholder="Por ejemplo 58798754K" name="neg2"
            required minlength="9" maxlength="9" #neg2="ngModel" [ngClass]="{
              'is-invalid': neg2.invalid && (neg2.dirty || neg2.touched),
              'is-valid': !neg2.invalid
            }" />
          <div class="invalid-feedback">Por favor, rellene este campo.</div>
          <div class="valid-feedback">¡Perfecto! ¡Ese es un NIF válido!</div>
        </div>
      </section>

      <section *ngIf="negocio.tipoNegocio == 'farmacia'">
        <div class="form-row py-2">
          <label>NIF de la farmacia<sup class="text-danger">*</sup></label>
          <input type="text" class="form-control" [(ngModel)]="farmacia.nif" placeholder="Por ejemplo 58798754K" name="neg2"
            required minlength="9" maxlength="9" #neg2="ngModel" [ngClass]="{
              'is-invalid': neg2.invalid && (neg2.dirty || neg2.touched),
              'is-valid': !neg2.invalid
            }" />
          <div class="invalid-feedback">Por favor, rellene este campo.</div>
          <div class="valid-feedback">¡Perfecto! ¡Ese es un NIF válido!</div>
        </div>
      </section>

      <section *ngIf="negocio.tipoNegocio == 'optica'">
        <div class="form-row py-2">
          <label>NIF de la optica<sup class="text-danger">*</sup></label>
          <input type="text" class="form-control" [(ngModel)]="optica.nif" placeholder="Por ejemplo 58798754K" name="neg2"
            required minlength="9" maxlength="9" #neg2="ngModel" [ngClass]="{
              'is-invalid': neg2.invalid && (neg2.dirty || neg2.touched),
              'is-valid': !neg2.invalid
            }" />
          <div class="invalid-feedback">Por favor, rellene este campo.</div>
          <div class="valid-feedback">¡Perfecto! ¡Ese es un NIF válido!</div>
        </div>
      </section>

<!-- VOY POR AQUÍ -->

<!-- ¡¡¡¡¡AQUÍ METER UN GET ASOCIACIONES!!!!! -->

    <section *ngIf="negocio.tipoNegocio == '0'">
      <div class="form-row py-2">
        <label>Asociación a la que pertenece el negocio<sup class="text-danger">*</sup></label>

        <!-- <select name="selectorAsociacion" id="selectorAsociacion1" class="form-select" aria-label="Default select example" [(ngModel)]="negocio.asociacion">
          <div *ngFor="let asociacion of asociaciones">
            <option value="asociacion.urlAsociacion">{{asociacion.nombre}}</option>
          </div>
        </select> -->

        <input type="text" class="form-control" [(ngModel)]="negocio.asociacion" placeholder="Dirección de la asociación" name="aso"
          required minlength="10" maxlength="60" #aso="ngModel" [ngClass]="{
            'is-invalid': aso.invalid && (aso.dirty || aso.touched),
            'is-valid': !aso.invalid
          }" />
        <div class="invalid-feedback">Por favor, rellene este campo.</div>
        <div class="valid-feedback">¡Perfecto! ¡Ese es un nombre válido!</div>

      </div>
    </section>

<!-- ¡¡¡¡¡AQUÍ METER UN GET ASOCIACIONES!!!!! -->

    <section *ngIf="negocio.tipoNegocio == 'farmacia'">
      <div class="form-row py-2">
        <label>Asociación a la que pertenece la farmacia<sup class="text-danger">*</sup></label>
        <input type="text" class="form-control" [(ngModel)]="farmacia.asociacion" placeholder="Dirección de la asociación" name="aso"
          required minlength="10" maxlength="60" #aso="ngModel" [ngClass]="{
            'is-invalid': aso.invalid && (aso.dirty || aso.touched),
            'is-valid': !aso.invalid
          }" />
        <div class="invalid-feedback">Por favor, rellene este campo.</div>
        <div class="valid-feedback">¡Perfecto! ¡Ese es un nombre válido!</div>
      </div>
    </section>

<!-- ¡¡¡¡¡AQUÍ METER UN GET ASOCIACIONES!!!!! -->

    <section *ngIf="negocio.tipoNegocio == 'optica'">
      <div class="form-row py-2">
        <label>Asociación a la que pertenece la optica<sup class="text-danger">*</sup></label>
        <input type="text" class="form-control" [(ngModel)]="optica.asociacion" placeholder="Dirección de la asociación" name="aso"
          required minlength="10" maxlength="60" #aso="ngModel" [ngClass]="{
            'is-invalid': aso.invalid && (aso.dirty || aso.touched),
            'is-valid': !aso.invalid
          }" />
        <div class="invalid-feedback">Por favor, rellene este campo.</div>
        <div class="valid-feedback">¡Perfecto! ¡Ese es un nombre válido!</div>
      </div>
    </section>

    <section *ngIf="negocio.tipoNegocio == 'farmacia'">
      <div class="form-row py-2">
        <label>Introduzca el número de puntos SIGRE de la farmacia:<sup class="text-danger">*</sup></label>
        <input type="number" class="form-control" [(ngModel)]="farmacia.numeroPuntosSigre" placeholder="Por ejemplo 3" name="neg20"
          required min="0" max="5" #neg20="ngModel" [ngClass]="{
            'is-invalid': neg20.invalid && (neg20.dirty || neg20.touched),
            'is-valid': !neg20.invalid
          }" />
        <div class="invalid-feedback">Por favor, rellene este campo.</div>
        <div class="valid-feedback">¡Perfecto! ¡Ese es un número válido!</div>
      </div>
    </section>

    <section *ngIf="negocio.tipoNegocio == 'optica'">
        <div class="form-row py-2">
          <label>Introduzca el número de autorefractometros de la óptica:<sup class="text-danger">*</sup></label>
          <input type="number" class="form-control" [(ngModel)]="optica.numeroAutorefractometros" placeholder="Por ejemplo 3" name="neg20"
            required min="0" max="5" #neg20="ngModel" [ngClass]="{
              'is-invalid': neg20.invalid && (neg20.dirty || neg20.touched),
              'is-valid': !neg20.invalid
            }" />
          <div class="invalid-feedback">Por favor, rellene este campo.</div>
          <div class="valid-feedback">¡Perfecto! ¡Ese es un número válido!</div>
      </div>
    </section>

  </div></div>
    <section *ngIf="negocio.tipoNegocio == '0'">
      <div class="form-row justify-content-between pt-5">
        <button class="btn btn-primary" role="button" (click)="modificarNegocio()" routerLink='/negocios-asociados/negocios'
          [disabled]="!negocioForm.form.valid">
          Crear Negocio
        </button>
      </div>
    </section>
    <section *ngIf="negocio.tipoNegocio == 'farmacia'">
      <div class="form-row justify-content-between pt-5">
        <button class="btn btn-primary" role="button" (click)="modificarFarmacia()" routerLink='/negocios-asociados/negocios'
          [disabled]="!negocioForm.form.valid">
          Crear Farmacia
        </button>
      </div>
    </section>
    <section *ngIf="negocio.tipoNegocio == 'optica'">
      <div class="form-row justify-content-between pt-5">
        <button class="btn btn-primary" role="button" (click)="modificarOptica()" routerLink='/negocios-asociados/negocios'
          [disabled]="!negocioForm.form.valid">
          Crear Optica
        </button>
      </div>
    </section>
<!--   <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <pre>{{ negocio | json }}</pre>
    </div>
    <div class="col-sm-3"></div>
  </div> -->
</form>
