<main>
  <div class="container-fluid" id="primeraFila">
    <div class="row">
      <div class="col-sm-9">
        <img src="assets/farmaciaPortada2.jpg" alt="home" class="principal">
      </div>
      <!--
      <div class="col-sm-4">
        <img src="assets/opticasPortada.jpg" alt="home" class="principalOptica">
      </div> -->
      <!--
      <div class="col-sm-2">
        <div class="ocultar-div">
        </div>
      </div>
      <div class="col-sm-7">
        <div class="list-group" id="listadoPrincipal">
          Clase introducida con Bootstrap
          <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
          Clase introducida con Bootstrap
          <div class="d-flex w-100 justify-content-between">
          Clase introducida con Bootstrap
            <h5 class="mb-1">Asociación Félix González García</h5>
            Con esta etiqueta se baja el valor de la fuente del texto
            <small>Hace 3 días</small>
          </div>
          <p class="mb-1">Aquí saldrán todos los negocios que forman parte de esta asociación</p>
          <small>Tiene un total de X negocios.</small>
          </a>
          <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between" >
              <h5 class="mb-1">Asociación Alberto Núñez Morcillo</h5>
              <small>Hace 3 días</small>
            </div>
            <p class="mb-1">Aquí saldrán todos los negocios que forman parte de esta asociación</p>
            <small>Tiene un total de X negocios.</small>
            </a>
          <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Asociación Antonio Pisón Saravia</h5>
              <small>Hace 3 días</small>
            </div>
            <p class="mb-1">Aquí saldrán todos los negocios que forman parte de esta asociación</p>
            <small>Tiene un total de X negocios.</small>
            </a>
          <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Asociación Eduardo Ríos Sasiaín</h5>
              <small>Hace 3 días</small>
            </div>
            <p class="mb-1">Aquí saldrán todos los negocios que forman parte de esta asociación</p>
            <small>Tiene un total de X negocios.</small>
            </a>
        </div>
      </div> -->
      <div class="col-sm-2">
        <!-- Clase introducida con Bootstrap -->
        <div class="list-group">
          <a href="https://www.aemps.gob.es/" class="list-group-item list-group-item-action" target="_blank">Agencia española de medicamentos y productos sanitarios (AEMPS)</a>
          <a href="https://www.ema.europa.eu/en" class="list-group-item list-group-item-action" target="_blank">Agencia Europea del Medicamento (EMA)</a>
          <a href="https://sede.aemps.gob.es/docs/CIMA-REST-API_1_19.pdf#%5B%7B%22num%22%3A19%2C%22gen%22%3A0%7D%2C%7B%22name%22%3A%22XYZ%22%7D%2C82%2C465%2C0%5D" class="list-group-item list-group-item-action" target="_blank">PDF explicando API REST de la AEMPS</a>
          <a href="https://wikifarmacia.com/" class="list-group-item list-group-item-action" target="_blank">WikiFarmacia, la aplicación para farmaceúticos</a>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>
  </div>
  <!-- Segundo contenedor introducido -->
  <div class="container-fluid" id="carruselConsejos">
    <div class="row">
      <div class="col-sm-4">
        <!-- Carousel introducido mendiante Bootstrap -->
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/gelocatilS.jpg" class="img-fluid" alt="gelocatil">
            </div>
            <div class="carousel-item">
              <img src="assets/ibuprofenoS.jpg" class="img-fluid" alt="ibuprofeno">
            </div>
            <div class="carousel-item">
              <img src="assets/aspirinaS.jpg" class="img-fluid" alt="aspirina">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-sm-4">
        <div id="carouselExampleControlsTres" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <p>¿Qué hacer si mi hijo tiene fiebre? <br>
                Retirarle la ropa y colocarle en un lugar fresco <br>
                Aplicar paños con agua templada en la cabeza, ingles y axilas;<br>
                cambiar estos paños por otros fríos cada 5 minutos <br>
                Baños con agua tibia <br>
                Ofrecer frecuentemente líquidos por la boca <br>
                Administrar antitérmicos: paracetamol, ibuprofeno o metamizol a la <br>
                dosis recomendada por su médico <br>
              </p>
            </div>
            <div class="carousel-item">
              <p>¿Qué hacer si a mi hijo le ha mordido un perro o un gato? <br>
                Si sangra, aplicar presión sobre el área afectada con una gasa o toalla limpia hasta que pare <br>
                Lávese las manos, limpie la herida con agua y jabón <br>
                Cúbrala con una gasa estéril <br>
                Intente identificar al dueño del animal, para consultar las vacunas que tiene <br>
                Acuda al médico si la mordedura no son solo erosiones superficiales <br>
              </p>
            </div>
            <div class="carousel-item">
              <p>¿Qué hacer si mi hijo tiene dificultad para respirar? <br>
                Mantenerle incorporado, tranquilo y en reposo <br>
                En los bebés, mantener la nariz limpia de mucosidad, con lavados nasales frecuentes <br>
                Ofrecer los alimentos en tomas pequeñas y frecuentes <br>
                Evitar ambientes con humos <br>
                Si su médico se lo ha recetado, administre el tratamiento inhalado <br>
              </p>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsTres" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsTres" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="gafas visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-sm-4">
        <div id="carouselExampleControlsDos" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/gafasUnoS.jpg" class="img-fluid" alt="gafasUno">
            </div>
            <div class="carousel-item">
              <img src="assets/gafasDosS.jpg" class="img-fluid" alt="gafasDos">
            </div>
            <div class="carousel-item">
              <img src="assets/lentillasUno.jpg" class="img-fluid" alt="lentillas">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsDos" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsDos" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="gafas visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
