/* Declaración de variables para su uso en el resto del documento CSS */
:root {
  --verdePrincipal: #062C30;
  --verdeClaro:#05595B;
  --amarillo: #E2D784;
  --blanco: #F5F5F5;
}

#primeraFila {
  margin-top: 7.5em;
}

.list-group {
  padding-top: 5em;
  padding-bottom: 5em;
}

.list-group-item {
  color: var(--verdePrincipal);
  background-color: var(--amarillo);
}

.list-group-item:hover {
  color: var(--blanco);
  background-color: var(--verdePrincipal);
  border-color: var(--blanco);
}

/*#carruselConsejos {
  text-align: center;
  margin: 40px;
  margin-top: 60px;
  margin-bottom: 0em;
}*/

#carruselConsejos {
  text-align:center;
  margin: 2em;
  margin-top: 5em;
  margin-bottom: 0em;
}

#carouselExampleControlsTres {
  margin-top: 3.5em;
}

/*.principal {
  border-radius: 20px;
  width: 1000px;
  height: 550px;
  margin-top: 4em;
  margin-left: 15em;
}*/

.principal {
  border-radius: 2em;
  width: 80em;
  height: 35em;
  margin-top: 4em;
  margin-left: 15em;
}

.img-fluid {
  border-radius: 2em;
  width: 30em;
  height: 20em;
}

main {
  color: var(--amarillo)
}
/*
#enlacesYouTube {
  margin-top: 125px;
  padding-bottom: 50px;
}

.embed-responsive {
  height: 244px;
  width: 350px;
}

#logotipo {
    padding-top: 0px;
    padding-bottom: 0px;
}*/
