/* You can add global styles to this file, and also import other style files */
:root {
  --verdePrincipal: #062C30;
  --verdeClaro:#05595B;
  --amarillo: #E2D784;
  --blanco: #F5F5F5;
}

html {
  background-color: var(--verdePrincipal);
  color: var(--amarillo);
}
