<main>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <h1>Listado de farmacias</h1>
      <div class="d-grid gap-2" id="sumarNegocio">
        <button class="creacion btn btn-primary" type="button" routerLink="/negocios-asociados/formulario-negocios">
          <fa-icon [icon]="plus"></fa-icon> Crear nuevo negocio
        </button>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-4">NOMBRE</div>
    <div class="col-sm-4">NIF</div>
    <div class="col-sm-4">OPERACIONES</div>
  </div>
  <div *ngIf="farmacias.length > 0; else noFarmacias">
    <div *ngFor="let farmacia of farmacias">
      <app-farmacias-item [farmacia]="farmacia" (farmaciaSeleccionada)="this.verDatosFarmacia($event)"></app-farmacias-item>
    </div>
  </div>
  <ng-template #noNegocios>
    <div class="row">
      NO EXISTEN NEGOCIOS
    </div>
  </ng-template>
  <ng-template #noFarmacias>
    <div class="row">
      NO EXISTEN FARMACIAS
    </div>
  </ng-template>

<!-- Modal FARMACIAS -->
<div class="modal fade" id="modalFarmacia" tabindex="-1" role="dialog" aria-labelledby="datosFarmacia" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="datosFarmacia">Datos Completos Farmacia</h5>
      </div>
      <div class="modal-body">
        <!-- EL PROBLEMA ESTÁ AQUÍ -->
        <app-farmacia [farmacia]="farmaciaVerDatos"></app-farmacia>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">¿MODIFICAR?</button>
      </div>
    </div>
  </div>
</div>

  <!-- Modal NEGOCIOS -->
  <!-- <div class="modal fade" id="modalNegocio" tabindex="-1" role="dialog" aria-labelledby="datosNegocio" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="datosNegocio">Datos Completos Negocio</h5>
        </div>
        <div class="modal-body">
          <app-farmacia [farmacia]="farmaciaVerDatos"></app-farmacia>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">¿MODIFICAR?</button>
        </div>
      </div>
    </div>
  </div> -->
</main>
