<section id="negociosLista">
  <p>
    Hola qué tal
  </p>
  <!-- <button (click)="listarNegociosSegunda(this.asociacion)">
    obtener negocios
  </button> -->
  <button (click)="listarNegociosTercera(this.asociacion.urlAsociacion)">
    obtener negocios tercera
  </button>
  <div *ngFor="let negocio of asociacion.negocios">
    <!-- <app-farmacias-item [farmacia]="farmacia" (farmaciaSeleccionada)="this.verDatosFarmacia($event)"></app-farmacias-item> -->
    <app-negocios-item [negocio]="negocio" (negocioSeleccionado)="verDatos($event)"></app-negocios-item>
  </div>
  <!-- <div *ngFor="let negocio of negocios">
    {{negocio}}
  </div> -->
</section>
