<section *ngIf="asociacion.nombre != null; else noExiste">
  <div class="row mb-2">
    <hr class='w-100'>
    <div class="col-sm-3"></div>
    <div class="col-sm-3" id="central">{{asociacion.nombre}}</div>
    <div class="col-sm-3" id="segundo">
      <!-- AQUÍ TENGO QUE CONFIGURAR EL MODAL -->
      <a class="" data-bs-toggle="modal" data-bs-target="#modalListado" (click)="asociacionSeleccionada.emit(asociacion)" (click)="listarNegociosTercera(asociacion.urlAsociacion)">
        &nbsp;&nbsp;
        <!-- <fa-icon [icon]="lista"></fa-icon> -->
        <fa-icon [icon]="eye"></fa-icon>
        &nbsp;
      </a>
      <!-- <a class="" data-bs-toggle="modal" (click)="asociacionSeleccionada.emit(asociacion)" (click)="listarNegociosTercera(asociacion.urlAsociacion)">
        &nbsp;&nbsp;
        <fa-icon [icon]="lista2"></fa-icon>
        &nbsp;
      </a> -->
    </div>
    <div class="col-sm-3"></div>
    <!-- {{asociacion.negocios}} -->
  </div>
</section>
<ng-template #noExiste>
  <div>
    NO EXISTEN NEGOCIOS
  </div>
</ng-template>
