<!-- <section *ngIf="negocio.nombre != null; else noExiste"> -->
  <div class="row mb-2">
    <hr class='w-100'>
    <div class="col-sm-4">{{negocio.nombre}}, {{negocio.asociacion}}</div>
    <div class="col-sm-4">{{negocio.nif}}, {{negocio.urlNegocio}}</div>
    <div class="col-sm-4">
      <a routerLink="/negocios-asociados/formulario-negocios">
        &nbsp;<fa-icon [icon]="eye"></fa-icon>&nbsp;
      </a>
      <a routerLink="/negocios-asociados/formulario-negocios">
        &nbsp;&nbsp;<fa-icon [icon]="pencil"></fa-icon>&nbsp;
      </a>
      <a routerLink="/negocios-asociados/formulario-negocios" role="button" (click)="borrarNegocio(this.negocio.urlNegocio)" routerLink="/negocios-asociados/negocios">
        &nbsp;&nbsp;<fa-icon [icon]="trash"></fa-icon>&nbsp;
      </a>
      <!-- <button class="btn btn-danger" (click)="borrarNegocio(this.negocio.urlNegocio)"> -->
      <!-- <button class="btn btn-danger" (click)="borrarNegocio(this.negocio.getIdNegocio(this.negocio.urlNegocio))"> -->
      <!-- <a routerLink="/negocios-asociados/formulario-negocios">
          &nbsp;&nbsp;<fa-icon [icon]="trash"></fa-icon>&nbsp;
        </a>
      </button> -->
    </div>
  </div>
<!-- </section>
-- ESTO ES NUEVO y el *ngIf
<ng-template #noExiste>
  <div>
    NO EXISTEN NEGOCIOS
  </div>
</ng-template> -->

